/* UserPage.css */
.user-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #eff3fa;
}

.user-details {
  margin-top: 20px;
}

.logout-button {
  padding: 50px 200px;
}

h1 {
  color: #333;
}
